html, body, header, nav, h1, a, ul, li, strong, main, button, i, section, img, div, h2, p, form, fieldset, label, input, textarea, span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='password'],
input[type='email'],
input[type='text'],
input[type='submit'],
textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul {
  list-style: none;
}

.explore-project {
  display: block;
  float: left;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  padding-left: 1.8rem;
  z-index: 1;
}

.explore {
  margin-right: 1.2rem;
}

.project {
  padding-right: 1.8rem;
  margin-right: 1.2rem;
}

.search-signin {
  display: block;
  float: right;
  padding-right: 2.4rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.search {
  margin-left: 0.6rem;
  display: inline-block;
}

.login {
  margin-left: 0.8rem;
}

.grey-box {
  border-top: 1px solid black;
  background-color: #F0F0F0;
}

.login-outer-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
}

.login-middle-container {
  max-width: 400px;
  margin: auto;
}

.login-container {
  background-color: white;
}

.signup-top-login {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #F1EEEA;
  background-color: rgba(241, 238, 234, 0.2);
  font-size: 14px;
  font-weight: 100;
}

.link-signup {
  color: #2752ff;
  font-weight: normal !important;
}

form {
  padding: 20px;
}

form h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: 200;
}

.login-form-container {
  margin-bottom: 0.9rem;
}

.error-email-msg {
  display: none;
}

.error-email-text {
  display: block;
}

.signup-weekly-checkbox {
  display: inline;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  width: 10px;
  margin-right: 0;
  float: left;
}

.signup-weekly-newsletter {
  display: inline;
  font-weight: 100;
  font-size: 14px;
}

.create-account-container {
  margin-top: 2.2rem;
  margin-bottom: 0.8rem;
}

.create-account-container input {
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  background-color: transparent;
}

.green-box input {
  background-color: transparent;
  color: white;
}

.signup-disclaimer {
  margin-top: 10px;
  font-size: 11.8px;
  text-align: center;
  color: black;
  line-height: 19px;
  font-weight: 100;
  margin-bottom: 20px;
}

.policy-link {
  color: #2752ff;
}

.login-or {
  padding-top: 5px;
  text-align: center;
  margin-bottom: 26px;
}

.line {
  width: 90%;
  background-color: #f1eeea;
  height: 1px;
  margin-left: 5%;
  display: block;
}

.text {
  background-color: white;
  padding: 5px 10px;
  font-size: 14px;
  display: block;
  z-index: 1;
  top: 400px;
}

.blue-box {
  width: 100%;
  background-color: #39579a;
  text-align: center;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 100;
}

.blue-box input {
  background-color: transparent;
  color: white;
}

.login-facebook-disclaimer {
  margin-top: 10px;
  font-size: 11.8px;
  text-align: center;
  color: rgba(40,40,40,0.5);
  line-height: 19px;
  font-weight: 100;
  margin-bottom: 20px;
}

.footer-nav-bar {
  border-top: 2px solid rgb(155,158,158);
  border-bottom: 2px solid #DCDEDD;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  width: 100%;
  font-size: 13.5px;
  justify-content: space-between;
  vertical-align: baseline;
  background-color: white;
  font-weight: 100;
}

.footer-category {
  display: block;
  padding-left: 52px;
}

.footer-links {
  float: left;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  padding-left: 30px;
}

.footer-link {
  padding-left: 20px;
}

.search i {
  margin-left: 0.6rem;
  display: inline-block;
}

.login-email {
  margin-bottom: 1.1rem;
}

.fa-facebook {
  color: white;
  margin-right: 5px;
}

.forgot-your-password {
  font-size: 12px;
  color: #2752ff;
  padding-top: 10px;
  padding-bottom: 13px;
  display: block;
  font-weight: 100;
}

.remember-me {
  font-size: 13.5px;
  font-weight: 100;
}

.remember-me-checkbox {
  margin-right: 10px;
}

.login-bottom-signup {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #F1EEEA;
  background-color: rgba(241, 238, 234, 0.2);
  font-size: 14px;
  font-weight: 100;
}

.login-link-signup {
  color: #2752ff;
}

.login-email:focus {
  border: 1px solid rgb(0, 158, 116);
  background-color: transparent;
}

.login-password:focus {
  border: 1px solid rgb(0, 158, 116);
}

.login-form-container input {
  display: flex;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  justify-content: center;
  font-weight: 100;
}

.grey-border {
  border: 1px solid #DCDEDD;
}

.green-box {
  width: 100%;
  background-color: rgb(0, 158, 116);
  text-align: center;
  font-weight: 100;
}

.error-email-msg {
  display: none;
}

.error-email-msg-show {
  display: block;
  box-shadow: 3px 5px 5px rgb(155,158,158);
  border: 1px solid rgb(155,158,158);
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  width: auto;
  top: 425px;
  position: absolute;
  background-color: white;
}

.fa-exclamation-circle {
  float: left;
  color: orange;
  display: block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.logo {
  top: 25px;
  left: -30px;
  position: relative;
  justify-content: center;
  height: 20px;
}

.footer-index-content {
  display: block;
  margin-left: -12px;
  margin-right: -12px;
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
}

.footer-index {
  display: block;
  padding-left: 112px;
  padding-right: 112px;
  width: 100%;
  height: 170px;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer-index-section {
  display: block;
  float: left;
  width: 175px;
}

.footer-index-section h3 {
  font-size: 13px;
  font-weight: normal;
}

.black {
  color: black !important;
  float: left;
  padding-right: 20px;
}

.footer-social-media {
  display: block;
  padding-left: 100px;
  padding-right: 100px;
  height: 20px;
  margin-bottom: 20px;
}

.language {
  -webkit-appearance: none;
  -moz-appearance: none;
  float: left;
  display: block;
  padding: 20px;
  border-radius: 0;
  background-color: white;
  font-size: 14px;
  padding-top: 0.9rem;
  padding-bottom: 1.1rem;
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  border: none;
  font-weight: 100;
  box-shadow: #DCDEDD 0 2px 5px;
  margin-right: 17px;
  color: rgb(155,158,158);
}

.currency {
  -webkit-appearance: none;
  -moz-appearance: none;
  float: left;
  display: block;
  padding: 20px;
  border-radius: 0;
  background-color: white;
  font-size: 14px;
  padding-top: 0.9rem;
  padding-bottom: 1.1rem;
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  border: none;
  font-weight: 100;
  box-shadow: #DCDEDD 0 2px 5px;
  color: rgb(155,158,158);
}

.language-currency {
  display: block;
  position: relative;
  padding-left: 100px;
  height: 100px;
  border-bottom: 2px solid #DCDEDD;
}

.lang-currency-form {
  padding: 0;
}

.policies {
  display: block;
  height: 70px;
  padding-left: 100px;
  align-items: baseline;
}

.policy-links {
  float: left;
  padding-right: 22px;
  position: relative;
  top: 25px;
  font-size: 13px;
  font-weight: 100;
}

.footer-section {
  justify-content: space-between;
}

.first-arrow {
  position: absolute;
  left: 175px;
  bottom: 69px;
}

.second-arrow {
  position: absolute;
  left: 420px;
  bottom: 69px;
}

.error-messages-red {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fd003b;
  color: white;
  margin-bottom: 1.1rem;
}

.start-project-content {
  display: block;
  height: 1093px;
  width: 100%;
  border-top: 1px solid black;
}

.start-project-middle {
  padding-left: 60px;
  padding-right: 60px;
  display: block;
  height: 1093px;
}

.start-project-top {
  margin-left: -12px;
  margin-right: -12px;
  height: 354px;
}

.start-project-inner {
  padding-left: 12px;
  padding-right: 12px;
  float: left;
  margin-left: 119px;
  height: 354px;
  width: 333px;
}

.start-project-1 {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  height: 234px;
}

.start-project-1 h1 {
  font-family: Georgia, Times, serif;
  margin-bottom: 2rem;
  font-size: 3.4rem;
  line-height: 3.8rem;
}

.green-box-1 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #009E74;
  padding: 15px 23px;
  font-size: 16px;
  height: 20px;
  width: 104px;
  font-weight: 100;
  font-family: Helvetica;
}
