html, body, header, nav, h1, a, ul, li, strong, main, button, i, section, img, div, h2, p, form, fieldset, label, input, textarea, span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
}

input[type='submit'] {
  cursor: pointer;
}

input[type='password'],
input[type='email'],
input[type='text'],
input[type='submit'],
textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

ul {
  list-style: none;
}

.explore-project {
  display: block;
  float: left;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  padding-left: 1.8rem;
  z-index: 1;
}

.explore {
  margin-right: 1.2rem;
}

.project {
  padding-right: 1.8rem;
  margin-right: 1.2rem;
}

.search-signin {
  display: inline;
  float: right;
  padding-right: 2.4rem;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
}

.search {
  margin-left: 0.6rem;
  display: inline-block;
}

.login {
  margin-left: 0.8rem;
}

.grey-box {
  border-top: 1px solid black;
  background-color: #F0F0F0;
}

.login-outer-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-right: 1.8rem;
  padding-left: 1.8rem;
}

.login-middle-container {
  max-width: 400px;
  margin: auto;
}

.login-container {
  background-color: white;
}

.signup-top-login {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid #F1EEEA;
  background-color: rgba(241, 238, 234, 0.2);
  font-size: 14px;
  font-weight: 100;
}

.link-signup {
  color: #2752ff;
  font-weight: normal !important;
}

form {
  padding: 20px;
}

form h2 {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 30px;
  font-weight: 200;
}

.login-form-container {
  margin-bottom: 0.9rem;
}

.error-email-msg {
  display: none;
}

.error-email-text {
  display: block;
}

.signup-weekly-checkbox {
  display: inline;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  width: 10px;
  margin-right: 0;
  float: left;
}

.signup-weekly-newsletter {
  display: inline;
  font-weight: 100;
  font-size: 14px;
}

.create-account-container {
  margin-top: 2.2rem;
  margin-bottom: 0.8rem;
}

.create-account-container input {
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  background-color: transparent;
}

.green-box input {
  background-color: transparent;
  color: white;
}

.signup-disclaimer {
  margin-top: 10px;
  font-size: 11.8px;
  text-align: center;
  color: black;
  line-height: 19px;
  font-weight: 100;
  margin-bottom: 20px;
}

.policy-link {
  color: #2752ff;
}

.login-or {
  padding-top: 5px;
  text-align: center;
  margin-bottom: 26px;
}

.line {
  width: 90%;
  background-color: #f1eeea;
  height: 1px;
  margin-left: 5%;
  display: block;
}

.text {
  background-color: white;
  padding: 5px 10px;
  font-size: 14px;
  display: block;
  z-index: 1;
  top: 400px;
}

.blue-box {
  width: 100%;
  background-color: #39579a;
  text-align: center;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 100;
}

.blue-box input {
  background-color: transparent;
  color: white;
}

.login-facebook-disclaimer {
  margin-top: 10px;
  font-size: 11.8px;
  text-align: center;
  color: rgba(40,40,40,0.5);
  line-height: 19px;
  font-weight: 100;
  margin-bottom: 20px;
}

.footer-nav-bar {
  border-top: 2px solid rgb(155,158,158);
  border-bottom: 2px solid #DCDEDD;
  margin-bottom: 2rem;
}

nav {
  display: flex;
  width: 100%;
  font-size: 13.5px;
  justify-content: space-between;
  vertical-align: baseline;
  background-color: white;
  font-weight: 100;
}

.footer-category {
  display: block;
  padding-left: 52px;
}

.footer-links {
  float: left;
  padding-top: 1.7rem;
  padding-bottom: 1.7rem;
  padding-left: 30px;
}

.footer-link {
  padding-left: 20px;
}

.search i {
  margin-left: 0.6rem;
  display: inline-block;
}

.login-email {
  margin-bottom: 1.1rem;
}

.fa-facebook {
  color: white;
  margin-right: 5px;
}

.forgot-your-password {
  font-size: 12px;
  color: #2752ff;
  padding-top: 10px;
  padding-bottom: 13px;
  display: block;
  font-weight: 100;
}

.remember-me {
  font-size: 13.5px;
  font-weight: 100;
}

.remember-me-checkbox {
  margin-right: 10px;
}

.login-bottom-signup {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #F1EEEA;
  background-color: rgba(241, 238, 234, 0.2);
  font-size: 14px;
  font-weight: 100;
}

.login-link-signup {
  color: #2752ff;
}

.login-email:focus {
  border: 1px solid rgb(0, 158, 116);
  background-color: transparent;
}

.login-password:focus {
  border: 1px solid rgb(0, 158, 116);
}

.login-form-container input {
  display: flex;
  box-sizing: border-box;
  padding: 12px;
  font-size: 14px;
  line-height: 17px;
  width: 100%;
  justify-content: center;
  font-weight: 100;
}

.grey-border {
  border: 1px solid #DCDEDD;
}

.green-box {
  width: 100%;
  background-color: rgb(0, 158, 116);
  text-align: center;
  font-weight: 100;
}

.error-email-msg {
  display: none;
}

.error-email-msg-show {
  display: block;
  box-shadow: 3px 5px 5px rgb(155,158,158);
  border: 1px solid rgb(155,158,158);
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  width: auto;
  top: 425px;
  position: absolute;
  background-color: white;
}

.fa-exclamation-circle {
  float: left;
  color: orange;
  display: block;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.logo {
  top: 25px;
  left: -30px;
  position: relative;
  justify-content: center;
  height: 20px;
}

.footer-index-content {
  display: block;
  margin-left: -12px;
  margin-right: -12px;
  font-size: 13px;
  font-weight: 100;
  line-height: 20px;
}

.footer-index {
  display: block;
  padding-left: 112px;
  padding-right: 112px;
  width: 100%;
  height: 170px;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer-index-section {
  display: block;
  float: left;
  width: 175px;
}

.footer-index-section h3 {
  font-size: 13px;
  font-weight: normal;
}

.black {
  color: black !important;
  float: left;
  padding-right: 20px;
}

.footer-social-media {
  display: block;
  padding-left: 100px;
  padding-right: 100px;
  height: 20px;
  margin-bottom: 20px;
}

.language {
  -webkit-appearance: none;
  -moz-appearance: none;
  float: left;
  display: block;
  padding: 20px;
  border-radius: 0;
  background-color: white;
  font-size: 14px;
  padding-top: 0.9rem;
  padding-bottom: 1.1rem;
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  border: none;
  font-weight: 100;
  box-shadow: #DCDEDD 0 2px 5px;
  margin-right: 17px;
  color: rgb(155,158,158);
}

.currency {
  -webkit-appearance: none;
  -moz-appearance: none;
  float: left;
  display: block;
  padding: 20px;
  border-radius: 0;
  background-color: white;
  font-size: 14px;
  padding-top: 0.9rem;
  padding-bottom: 1.1rem;
  padding-left: 1.2rem;
  padding-right: 1.5rem;
  border: none;
  font-weight: 100;
  box-shadow: #DCDEDD 0 2px 5px;
  color: rgb(155,158,158);
}

.language-currency {
  display: block;
  position: relative;
  padding-left: 100px;
  height: 100px;
  border-bottom: 2px solid #DCDEDD;
}

.lang-currency-form {
  padding: 0;
}

.policies {
  display: block;
  height: 70px;
  padding-left: 100px;
  align-items: baseline;
}

.policy-links {
  float: left;
  padding-right: 22px;
  position: relative;
  top: 25px;
  font-size: 13px;
  font-weight: 100;
}

.footer-section {
  justify-content: space-between;
}

.first-arrow {
  position: absolute;
  left: 175px;
  bottom: 69px;
}

.second-arrow {
  position: absolute;
  left: 420px;
  bottom: 69px;
}

.error-messages-red {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 3px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #fd003b;
  color: white;
  margin-bottom: 1.1rem;
}

.start-project-content {
  display: block;
  height: 1093px;
  width: 100%;
  border-top: 1px solid black;
}

.start-project-middle {
  padding-left: 60px;
  padding-right: 60px;
  display: block;
  height: 1093px;
}

.start-project-top {
  margin-left: -12px;
  margin-right: -12px;
  height: 354px;
}

.start-project-inner {
  padding-left: 12px;
  padding-right: 12px;
  float: left;
  margin-left: 119px;
  height: 354px;
  width: 333px;
}

.start-project-1 {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
  height: 234px;
}

.start-project-1 h1 {
  font-family: Georgia, Times, serif;
  margin-bottom: 2rem;
  font-size: 3.4rem;
  line-height: 3.8rem;
}

.green-box-1 {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #009E74;
  padding: 15px 23px;
  font-size: 16px;
  height: 20px;
  width: 104px;
  font-weight: 100;
  font-family: Helvetica;
}

.step-one-main {
  display: block;
  width: 100%;
  height: 689px;
  justify-content: space-around;
  font-family: Helvetica;
}

.step-one-header {
  width: 895px;
  height: 270px;
  padding-top: 113px;
  margin: auto;
}

.step-one-title {
  display: block;
  width: 498px;
  height: 270px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.step-one-title-content {
  display: block;
  width: 498px;
  height: 186px;
  padding-bottom: 84px;
  border-bottom: 1px solid #f1eeea;
}

.step-one-title-content h2 {
  display: block;
  width: 498px;
  height: 36px;
  margin-bottom: 12px;
  font-size: 28px;
  font-weight: 300;
  text-align: center;
}

.step-one-title-content h3 {
  display: block;
  width: 450px;
  height: 48px;
  margin-bottom: 36px;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  color: rgba(0,0,0,0.6);
  margin-left: auto;
  margin-right: auto;
}

.select-your-category {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 20px;
  border-radius: 0;
  background-color: white;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  font-weight: 100;
  box-shadow: #DCDEDD 0 2px 5px;
  color: rgb(155,158,158);
  width: 498px;
  height: 54px;
}

.page-info {
  width: 790px;
  height: 29px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7px;
  font-size: 14px;
  font-weight: 100;
}

.fa-caret-down {
  position: relative;
}

.select-your-category:hover {
  border: 1px solid black;
  transition: border 0.25s ease-in-out;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
}

.step-one-next-step {
  display: block;
  width: 895px;
  height: 79px;
  margin-left: auto;
  margin-right: auto;
}

.step-one-next-step-content {
  display: block;
  width: 498px;
  height: 79px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.step-one-next-step-inner {
  display: block;
  width: 498px;
  height: 42px;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  align-items: center;
}

.select-your-category-dropdown {
  position: relative;
}

.select-your-category-arrow {
  position: absolute;
  left: 470px;
  top: 18px;
}

.profile-circle {
  width: 30px;
  height: 30px;
}

.profile-circle img {
  display: inline;
  float: right;
  width: 30px;
  border-radius: 15px;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2);
}

.step-one-next-step-inner button {
  display: block;
  width: 114px;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  float: right;
  font-size: 14px;
  color: white;
  font-weight: 100;
  text-align: center;
  position: relative;
}

.step-two-next-step-inner p {
  position: absolute;
  bottom: 14px;
  left: 20px;
}

.step-two-next-step-inner span {
  position: absolute;
  text-align: left;
  display: block;
  top: 30px;
  font-weight: 100;
  font-size: 14px;
  width: 98px;
  height: 24px;
}

.step-one-disclaimer {
  width: 782px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

.step-one-disclaimer-content {
  width: 432px;
  height: 90px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

.step-one-disclaimer-content span {
  width: 432px;
  height: 90px;
  margin-top: 60px;
  font-size: 12px;
  color: #9B9E9E;
}

.disabled-yes {
  background-color: #9B9E9E;
}

.disabled-no {
  background-color: black;
}

.description-box {
  display: block;
  width: 406px;
  height: 54px;
  border: 1px solid #f1eeea;
  font-size: 13px;
  color: #9B9E9E;
  font-weight: 100;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
}

.description-box input {
  display: block;
  width: 406px;
}

.description-num {
  display: block;
  width: 432px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

.description-num-inner {
  display: block;
  float: right;
  height: 21px;
  font-weight: 100;
  font-size: 13px;
  padding-top: 8px;
  color: rgba(0,0,0,0.6);
}

.category-next-location {
  display: block;
  width: 498px;
  height: 42px;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  align-items: center;
}

.fa-long-arrow-alt-left {
  display: inline-block;
  float: left;
  padding-right: 5px;
  color: rgba(0,0,0,0.6);
}

.next-location {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  bottom: 14px;
  left: 30px;
}

.line-two {
  width: 406px;
  background-color: #f1eeea;
  height: 1px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.fa-long-arrow-alt-left span {
  display: flex;
  height: 20px;
  color: rgba(0,0,0,0.6);
}

.step-two-title {
  display: block;
  width: 432px;
  height: 230px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.step-two-title-content {
  display: block;
  width: 432px;
  height: 166px;
  padding-bottom: 64px;
  border-bottom: 1px solid #f1eeea;
}

.step-two-next-step-content {
  display: block;
  width: 432px;
  height: 79px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.step-two-next-step-inner {
  display: block;
  width: 432px;
  height: 42px;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
  align-items: center;
}

.step-two-title-content h2 {
  display: block;
  width: 432px;
  height: 36px;
  margin-bottom: 12px;
  font-size: 28px;
  text-align: center;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
}

.step-two-next-step {
  display: block;
  width: 895px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.step-two-next-step-inner button {
  display: block;
  width: 114px;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  float: right;
  font-size: 14px;
  color: white;
  font-weight: 100;
  text-align: center;
  position: relative;
}

.step-one-next-step-inner p {
  position: absolute;
  bottom: 14px;
}

.step-one-next-step-inner span {
  position: absolute;
  text-align: left;
  display: block;
  top: 30px;
  font-weight: 100;
  font-size: 14px;
  width: 98px;
  height: 24px;
}

.step-two-title-content h3 {
  display: block;
  width: 432px;
  height: 24px;
  margin-bottom: 42px;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  margin-left: auto;
  margin-right: auto;
  color: rgba(0,0,0,0.6);
}

.step-two-header {
  width: 895px;
  height: 250px;
  padding-top: 113px;
  margin: auto;
}

.description-box:hover {
  border: 1px solid rgb(0, 158, 116);
}

.description-box:focus {
  border: 1px solid black;
}

.step-three-top {
  display: flex;
  width: 758px;
  height: 29px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.page-3 {
  float: left;
  font-size: 14px;
  font-weight: 100;
}

.step-three-box {
  width: 782px;
  height: 505px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 68px;
}

.step-three-box-inner {
  width: 432px;
  height: 505px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.step-three-box-inner-inner {
  width: 432px;
  height: 457px;
  padding-bottom: 48px;
}

.step-three-box-inner-inner h2 {
  width: 412px;
  padding-left: 10px;
  padding-right: 10px;
  height: 72px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 28px;
  font-weight: 300;
}

.step-three-box-inner-inner h3 {
  width: 432px;
  height: 48px;
  margin-bottom: 36px;
  font-size: 18px;
  text-align: center;
  font-weight: 100;
  color: rgba(0,0,0,0.6);
}

.country-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  border-radius: 0;
  background-color: white;
  font-size: 18px;
  border: none;
  font-weight: 100;
  box-shadow: #DCDEDD 0 2px 5px;
  width: 432px;
  height: 55px;
  position: relative;
}

.select-your-country:hover {
  border: 1px solid black;
  transition: border 0.25s ease-in-out;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.17);
}

.select-your-country {
  -webkit-appearance: none;
  -moz-appearance: none;
  display: block;
  padding: 20px;
  border-radius: 0;
  background-color: white;
  font-size: 18px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 18px;
  padding-right: 18px;
  border: none;
  font-weight: 100;
  box-shadow: #DCDEDD 0 2px 5px;
  color: rgba(0,0,0,0.6);
  width: 432px;
  height: 55px;
}

.select-your-country-arrow {
  position: absolute;
  left: 400px;
  top: 18px;
}

.faqs {
  display: block;
  width: 225px;
  height: 24px;
  margin-top: 12px;
  font-size: 14px;
  font-weight: 100;
}

.fa-question-circle {
  padding-right: 5px;
}

.verification {
  width: 432px;
  height: 174px;
  padding-top: 24px;
  font-weight: 100;
}

.age-verification {
  padding: 12px;
  width: 406px;
  height: 24px;
}

.age-verification:hover {
  border: 1px solid #DCDEDD;
}

.white-button {
  color: #DCDEDD;
  padding-right: 10px;
  float: left;
  padding-bottom: 5px;
}

.bank-verification {
  padding: 12px;
  width: 406px;
  height: 48px;
  display: block;
  position: relative;
}

.bank-verification span {
  display: block;
}

.bank-verification:hover {
  border: 1px solid #DCDEDD;
}

.credit-card-verification {
  padding: 12px;
  width: 406px;
  height: 24px;
  display: block;
  position: relative;
}

.credit-card-verification:hover {
  border: 1px solid #DCDEDD;
}

.green-button {
  color: #037362 !important;
  padding-right: 10px;
  float: left;
  padding-bottom: 5px;
}

.green-border {
  border: 1px solid #037362;
}

.continue-button-section {
  width: 782px;
  height: 79px;
  margin-left: auto;
  margin-right: auto;
}

.continue-button-inner {
  width: 432px;
  height: 79px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.continue-button-inner-inner {
  width: 432px;
  height: 42px;
  padding-top: 18px;
  padding-bottom: 18px;
}

.continue-button-inner-inner button {
  width: 58px;
  height: 42px;
  padding-left: 18px;
  padding-right: 18px;
  color: white;
  float: right;
  text-align: center;
  font-weight: 100;
  font-size: 14px;
}

.continue-button-inner-inner span {
  width: 207px;
  height: 24px;
  margin-right: 74px;
  font-size: 14px;
  font-weight: 100;
  color: rgba(0,0,0,0.6);
  position: relative;
  top: 12px;
}

.step-one-next-step-inner span {
  color: rgba(0,0,0,0.6);
}

.step-two-next-step-inner span {
  color: rgba(0,0,0,0.6);
}

.project-front-header {
  width: 782px;
  height: 235px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #DCDEDD;
}

.project-front-header-inner {
  width: 692px;
  height: 235px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.project-front-header-title {
  width: 692px;
  height: 72px;
  padding-top: 48px;
  text-align: center;
}

.project-front-header-title h2 {
  font-size: 28px;
  font-weight: 300;
}

.project-front-header-title h3 {
  font-size: 15px;
  font-weight: 100;
  color: rgba(0,0,0,0.6);
}

.project-preview {
  width: 692px;
  height: 115px;
}

.project-preview-inner {
  width: 692px;
  height: 37px;
  padding-top: 42px;
  padding-bottom: 36px;
}

.project-preview-link {
  float: left;
  color: rgba(0,0,0,0.6);
  font-weight: 100;
}

.project-front-margin {
  width: 878px;
  margin-bottom: 48px;
  border-top: 1px solid #DCDEDD;
  margin-left: auto;
  margin-right: auto;
}

.fa-eye {
  margin-right: 10px;
  color: rgba(0,0,0,0.6);
}

.edit-project-page {
  width: 878px;
  height: 758px;
  margin-left: auto;
  margin-right: auto;
}

.edit-project-page-inner {
  width: 758px;
  height: 758px;
  padding-left: 60px;
  padding-right: 60px;
  margin-left: auto;
  margin-right: auto;
}

.edit-project-page-inner-inner {
  width: 782px;
  height: 758px;
  margin-left: auto;
  margin-right: auto;
}

.edit-project-page-inner-inner-inner {
  width: 758px;
  height: 758px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.edit-project-page-inner-inner-inner-inner {
  width: 692px;
  height: 590px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.edit-project-form-container {
  width: 692px;
  height: 590px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.edit-project-form-container h3 {
  width: 692px;
  height: 30px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 100;
}

.basics {
  display: block;
  width: 690px;
  height: 42px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #DCDEDD;
}

.basics i {
  width: 48px;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
}

.basics-content {
  width: 303px;
  height: 42px;
}

.basics-content-title {
  width: 303px;
  height: 18px;
  margin-bottom: 6px;
  font-weight: 100;
  font-size: 18px;
}

.fa-check-circle {
  float: left;
  font-size: 40px;
  color: #DCDEDD;
}

.basics-content-desc {
  display: block;
  width: 400px;
  height: 18px;
  font-size: 13px;
  font-weight: 100;
  color: #95959E;
  margin-top: 10px;
}

.rewards {
  display: block;
  width: 690px;
  height: 42px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #DCDEDD;
  border-top: 1px solid transparent;
}

.rewards i {
  width: 48px;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
}

.account {
  width: 690px;
  height: 66px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: 1px solid #DCDEDD;
  border-top: 1px solid transparent;
}

.account i {
  width: 48px;
  height: 42px;
  padding-left: 12px;
  padding-right: 12px;
}

.account-content {
  width: 352px;
  height: 66px;
}

.account-content-disclaimer {
  width: 352px;
  height: 18px;
  margin-top: 6px;
  font-size: 12px;
  color: #2752ff;
  font-weight: 100;
  left: 72px;
  position: relative;
}

.completed-list {
  width: 782px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #DCDEDD;
}

.completed-list-content {
  width: 692px;
  height: 72px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.completed-list-content-inner {
  width: 692px;
  height: 72px;
  margin-top: 48px;
  margin-bottom: 48px;
}

.completed-list-num {
  font-size: 18px;
  font-weight: 100;
}

.completed-list-num-desc {
  font-weight: 100;
  font-size: 14px;
  color: #656969;
  line-height: 24px;
  margin-top: 3px;
}

.support-section {
  display: block;
  width: 878px;
  height: 482px;
  margin-left: auto;
  margin-right: auto;
}

.support-section-inner {
  width: 758px;
  height: 386px;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 48px;
  padding-bottom: 48px;
  margin-left: auto;
  margin-right: auto;
}

.support-section-inner-inner {
  width: 782px;
  height: 386px;
  margin-left: auto;
  margin-right: auto;
}

.support-section-inner-content {
  width: 758px;
  height: 386px;
  padding-left: 12px;
  padding-right: 12px;
}

.support-section-inner-content-inner {
  width: 692px;
  height: 386px;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

.support-section-content {
  width: 692px;
  height: 386px;
  margin-left: auto;
  margin-right: auto;
}

.support-section-content h3 {
  width: 692px;
  height: 30px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  font-weight: 100;
  font-size: 21px;
}

.support-content {
  width: 692px;
  height: 336px;
  display: flex;
  position: relative;
}

.creator-handbook {
  display: block;
  width: 289px;
  height: 100px;
  padding: 24px;
  margin-bottom: 14px;
  margin-right: 15px;
  border: 1px solid #DCDEDD;
}

.creator-handbook h5 {
  width: 289px;
  height: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 100;
  font-size: 18px;
}

.creator-handbook span {
  font-weight: 100;
  line-height: 24px;
}

.fa-long-arrow-alt-right {
  padding-left: 10px;
  font-size: 15px;
}

.campus {
  display: block;
  width: 289px;
  height: 100px;
  padding: 24px;
  margin-bottom: 14px;
  border: 1px solid #DCDEDD;
  margin-right: 0;
}

.campus h5 {
  width: 289px;
  height: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 100;
  font-size: 18px;
}

.campus span {
  font-weight: 100;
  line-height: 24px;
}

.creator-questions {
  position: absolute;
  width: 289px;
  height: 100px;
  padding: 24px;
  margin-bottom: 14px;
  border: 1px solid #DCDEDD;
  margin-right: 0;
}

.creator-questions h5 {
  width: 289px;
  height: 24px;
  margin-bottom: 10px;
  margin-top: 0;
  font-weight: 100;
  font-size: 18px;
}

.creator-questions span {
  font-weight: 100;
  line-height: 24px;
}

.edit-background {
  width: 100%;
  height: 2000px;
  background-color: #F0F0F0;
}

.edit-button {
  float: right;
  padding-top: 18px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 7px;
  color: #282828;
  font-weight: 600;
  font-size: 14px;
}

.edit-page-content {
  width: 960px;
  height: 1686px;
  padding-top: 42px;
  padding-bottom: 42px;
  margin-left: auto;
  margin-right: auto;
}

.edit-page-navbar {
  width: 821px;
  height: 62px;
  margin-left: auto;
  margin-right: auto;
}

.edit-page-navbar ul {
  width: 797px;
  height: 62px;
  margin-left: 12px;
  margin-right: 12px;
}

.exit-editor {
  float: left;
  width: 108px;
  height: 62px;
  margin-right: 10px;
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
}

.fa-arrow-left {
  font-size: 10px;
  padding-right: 5px;
}

.edit-options {
  width: 900px;
  height: 60px;
}

.edit-option-basics {
  float: left;
  width: 104px;
  height: 60px;
  background-color: white;
  color: #282828;
  border: 1px solid #DCDEDD;
  left: 187px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.edit-circle-check {
  font-size: 12px;
  padding-right: 7px;
}

.edit-option-rewards {
  float: left;
  width: 117px;
  height: 60px;
  background-color: white;
  color: #282828;
  border: 1px solid #DCDEDD;
  left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.edit-option-story {
  float: left;
  width: 94px;
  height: 60px;
  background-color: white;
  color: #282828;
  border: 1px solid #DCDEDD;
  left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.edit-option-about-you {
  float: left;
  width: 126px;
  height: 60px;
  background-color: white;
  color: #282828;
  border: 1px solid #DCDEDD;
  left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.edit-option-account {
  float: left;
  width: 114px;
  height: 60px;
  background-color: white;
  color: #282828;
  border: 1px solid #DCDEDD;
  left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
}

.preview {
  float: left;
  width: 93px;
  height: 60px;
  background-color: white;
  color: #282828;
  border: 1px solid #DCDEDD;
  left: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  margin-left: 10px;
}

.edit-form {
  width: 960px;
  height: 1624px;
  margin-left: auto;
  margin-right: auto;
}

.edit-form-title {
  width: 960px;
  height: 112px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.edit-form-title-inner {
  width: 940px;
  height: 112px;
  margin-left: 10px;
  margin-right: 10px;
}

.edit-form-title-inner h2 {
  width: 940px;
  height: 40px;
  margin-bottom: 12px;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 32px;
}

.edit-form-title-inner p {
  width: 940px;
  height: 60px;
  font-size: 22px;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 30px;
}

.edit-form-box {
  width: 960px;
  height: 1332px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

.edit-form-box-inner {
  width: 910px;
  height: 1232px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid #DCDEDD;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}

.edit-form-input {
  width: 640px;
  height: 1232px;
  margin-left: 10px;
  margin-right: 10px;
  float: left;
}

.edit-form-input-inner {
  width: 640px;
  height: 1232px;
  margin-right: 20px;
  float: left;
}

.project-image {
  width: 640px;
  height: 192px;
}

.project-image-inner {
  width: 632px;
  height: 166px;
  padding: 4px 0 4px 4px 4px;
  margin-bottom: 18px;
  background-color: #F8F9FD;
  border-radius: 6px;
}

.edit-form-input-inner form {
  padding: 0;
}

.project-image-inner-title {
  width: 163px;
  margin-right: 0;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 5px;
  font-size: 14px;
  color: #282828;
}

.project-image-inner-content {
  width: 449px;
  height: 166px;
  margin-right: 0;
  float: left;
}

.project-image-upload {
  margin-top: 4px;
  margin-right: 0;
  float: left;
  width: 447px;
  height: 112px;
  border: 1px dashed #586BE9;
  border-radius: 6px;
  background-color: white;
}

.verification-button {
  float: left;
  font-size: 15px !important;
}

.project-image-upload-inner {
  width: 407px;
  height: 72px;
  padding: 20px;
  text-align: center;
}

.choose-an-image {
  display: block;
  font-size: 13px;
  color: #2752ff;
  line-height: 20px;
}

.choose-an-image-description {
  display: block;
  font-size: 11px;
  color: #3D3D66;
  font-weight: 100;
  line-height: 18px;
}

.project-image-content {
  width: 449px;
  height: 32px;
  padding-top: 5px;
}

.project-image-content p {
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 10px;
  line-height: 16px;
}

.some-tips {
  color: #2752ff;
}

.project-title-box {
  width: 640px;
  height: 176px;
}

.project-title-content {
  float: left;
  width: 632px;
  height: 150px;
  margin-bottom: 18px;
  padding: 4px 0 4px 4px 4px;
  background-color: #F8F9FD;
  border-radius: 6px;
}

.project-title-content-inner {
  width: 449px;
  height: 150px;
  float: left;
  margin-top: 4px;
}

.title-input {
  width: 449px;
  height: 40px;
  background-color: white;
  border: 1px solid #DCDEDD;
  position: relative;
}

.title-input span {
  position: absolute;
  color: #3D3D66;
  font-size: 13px;
  top: 12px;
  left: 405px;
}

.project-title-description {
  width: 449px;
  height: 90px;
  padding-top: 5px;
}

.project-title-description-one {
  width: 449px;
  height: 48px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
}

.project-title-description-two {
  width: 449px;
  height: 48px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
}

.short-blurb-box {
  width: 640px;
  height: 148px;
}

.short-blurb-content {
  float: left;
  width: 632px;
  height: 122px;
  margin-bottom: 18px;
  padding: 4px 0 4px 4px 4px;
  background-color: #F8F9FD;
  border-radius: 6px;
}

.short-blurb-content-inner {
  width: 449px;
  height: 122px;
  float: left;
}

.short-blurb-input {
  margin-top: 4px;
  width: 449px;
  height: 70px;
  background-color: white;
  border: 1px solid #DCDEDD;
  position: relative;
}

.short-blurb-input input {
  width: 427px;
  height: 48px;
  padding: 10px;
}

.short-blurb-input span {
  position: absolute;
  color: #3D3D66;
  font-size: 13px;
  top: 44px;
  left: 393px;
}

.short-blurb-description {
  width: 449px;
  height: 32px;
  padding-top: 5px;
}

.short-blurb-description p {
  width: 449px;
  height: 32px;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 100;
  line-height: 16px;
}

.category-box {
  width: 640px;
  height: 109px;
}

.category-content {
  width: 632px;
  height: 83px;
  margin-bottom: 18px;
  padding: 4px;
  background-color: #F8F9FD;
  border-radius: 6px;
  float: left;
}

.category-content-inner {
  width: 449px;
  height: 83px;
  float: left;
}

.category-dropdown {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  display: block;
  width: 431px;
  height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 9px;
  border: 1px solid #DCDEDD;
  background-color: white;
  float: left;
  border-radius: 0;
  font-size: 19px;
}

.category-dropdown-two {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: border-box;
  display: block;
  width: 431px;
  height: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
  padding-right: 9px;
  border: 1px solid #DCDEDD;
  background-color: white;
  float: left;
  border-radius: 0;
  font-size: 19px;
  margin-top: 3px;
}
